[Unit]
Description=Staging client for iris snap deployment pipeline

[Service]
Type=oneshot
ExecStart=/usr/local/bin/stage

[Install]
WantedBy=multi-user.target